@model IEnumerable<SponsorDetailsServiceModel>

@{
    ViewBag.Title = "All Sponsors";
}

<h1 class="text-center">All Sponsors</h1>
<table class="table table-dark">
    <thead>
        <tr>
            <th class="text-center">Id</th>
            <th class="text-center">Name</th>
            <th class="text-center">Active</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sponsor in Model)
        {
            <tr>
                <td class="text-center">@sponsor.Id</td>
                <td class="text-center">@sponsor.Name</td>
                <td class="text-center">@(sponsor.IsActive == true ? "Yes" : "No")</td>
             
                <td class="text-center">
                    <a asp-area="" asp-controller="About" asp-action="EditSponsor" asp-route-id="@sponsor.Id" class="btn btn-outline-secondary">Edit</a>
                    <a asp-area="" asp-controller="About" asp-action="DeleteSponsor" asp-route-id="@sponsor.Id" class="btn btn-outline-secondary">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
