@model SwimmerEntryServiceModel

@{
    ViewData["Title"] = "Delete Swimmer";
}
<form asp-action="Delete">
    <div class="offset-4 mt-4">
        <div class="card" style="width: 22rem;">
            <div class="card-body">
                <img class="card-img-top" src="@Model.FullName" alt="">
            </div>
        </div>
        <div class="card mt-2" style="width: 22rem;  background-color:lightgray">
            <h3 class="text-center">Delete Swimmer</h3>
            &nbsp;
            <div style="font-size:14px;">
                <div class="card-body">
                    <p class="card-title"><b>Swimmer Name:</b> @Model.Age</p>
                    <p class="card-text"><b>Swimmer Phone Number:</b> @Model.PhoneNumber</p>
                    <p class="card-text"><b>Swimmer Email:</b> @Model.Email</p>
                    <h5>Are you sure you want to delete the following Swimmer: <b>@Model.FullName?</b></h5>
                    <div class="form-group">
                        <input type="submit" value="Delete" class="btn btn-dark" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
