@model IEnumerable<CoachListingServiceModel>

@{
    ViewData["Title"] = "Coaches";
}
@*<h1>FIX THE LAYOUT! SHOW THEM IN TABLE!</h1>
*@
<div class="row offset-4 mt-4">
    @foreach (var coach in Model)
    {
        <div class="row mt-2">
            <div class="card" style="width: 16rem;">
                <div class="card-body">
                    <h5 class="card-title">@coach.FullName</h5>
                    <p class="card-text">@coach.JobPosition</p>
                    <p class="card-text">Squad: @coach.Squad</p>
                    <a class="btn btn-dark" href="mailto:@coach.Email" target="_self">Contact Now</a>
                    @if (this.User.IsInRole("Administrator"))
                    {
                        <div class="mt-3">
                            <a asp-area="" asp-controller="About" asp-action="EditCoach" asp-route-id="@coach.Id" class="btn btn-sm btn-outline-secondary">Edit</a>
                            <a asp-area="" asp-controller="About" asp-action="DeleteCoach" asp-route-id="@coach.Id" class="btn btn-sm btn-outline-secondary">Delete</a>
                        </div>
                    }
                </div>
            </div>
            <div class="card" style="width: 16rem;">
                <div class="card-body">
                    <img class="card-img-top" src="@coach.Image" alt="">
                </div>
            </div>
        </div>
    }
    <br />
</div>

