@model IEnumerable<NewsServiceModel>
@{
    ViewData["Title"] = "News";
}
@*<h1 class="text-center">Where are the pictures?</h1>*@
<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            @foreach (var news in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="@news.Image" style="height: 225px; width: 100%; display: block;">
                        <div class="card-body">
                            <p class="card-text">@news.Title</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a asp-controller="News" asp-action="Details" asp-route-id="@news.Id" class="btn btn-sm btn-outline-secondary">Details</a>
                                    <a asp-controller="News" asp-action="Edit" asp-route-id="@news.Id" class="btn btn-sm btn-outline-secondary">Edit</a>
                                    <a asp-controller="News" asp-action="Delete" asp-route-id="@news.Id" class="btn btn-sm btn-outline-secondary">Delete</a>
                                </div>
                                <small class="text-muted">@news.DateCreated</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
